@model IEnumerable<BulkyBook.Models.CoverType>
@{
    ViewData["Title"] = "Index";
}

<h1>Bulky View</h1>

<div class="container p-3">

    <div class="row pt-8">
        <div class = "col-4">
            <h2 class="text-primary"> Cover Type</h2>
        </div> 
        <div class = "col-2">
            <a  asp-controller="CoverType"  asp-action="Create" class="btn btn-primary">
                Create CoverType</a>
        </div> 
        <div class = "col-2" >
            <a  asp-controller="CoverType" asp-action="Search" asp-route-itemid="Model" class="btn btn-outline-secondary">
                <i class="bi bi-search-heart-fill"></i>  Search
            </a>
        </div>
    </div>


<table class="table table-bordered table-striped" style="width:100%" >
<thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Display Order
        </th>@*
        <th>
            Guid ID
        </th>*@
        <th>
            Create Date and Time
        </th>
        <th>
            
        </th>
        <th>
            
        </th>
    </tr>
</thead>
@*<tbody>
    @foreach(var item in Model )
    {
            <tr>
                <td width="20%">
                    @item.Name
                </td>
                <td width="20%" >
                    @item.Displayorder
                </td>
               @* <td width="50%" >
                    @item.Id
                </td>
               *@ 
             @*  <td width="40%" >
                    @item.Createdatetime
                </td>
                <td >
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" asp-action="Edit" asp-route-Id = "@item.Id" class="btn btn-secondary " > <i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                </td>
                <td >
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="Category" onclick="return confirm('Are you sure you want to delete this?')"  asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-secondary ">
                                <i class="bi bi-trash3-fill"></i>Delete</a>
                    </div>
                </td>
            </tr>
    }

</tbody>*@

</table>

</div>
